resource_group_name = "rg-aks-velero-poc"
location            = "eastus"
cluster_name        = "aks-velero-poc"
dns_prefix          = "aksveleropoc"
node_count          = 2
vm_size             = "Standard_DC2s_v3"

tags = {
  project = "aks-to-eks-velero-poc"
  owner   = "your-name"
}
